@font-face {
    font-family: solaimanLipi;
    src: url(font/SolaimanLipi.ttf);
}

body { font-size: 17px; color: #727272;line-height: 1.5em; font-family: "SolaimanLipi", sans-serif;}
.header { width: 100%; background: #003a6a; min-height: 154px; border-top: 4px solid #fecd0b; border-bottom: 4px solid #7ab700; position: relative; }
.mainMenu { position: absolute; bottom: 0; }
.sf-menu { margin-bottom: 0; }
.sf-menu li { background: #004884; }
.sf-menu a { border-left: 1px solid #00569d; border-top: 1px solid #00569d; color: #fff; padding: 0.5em 1em; text-shadow: 0 2px 0 #222; }
.footer { width: 100%; background: #003a6a; border-bottom: 2px solid #fecd0b; }



/** Main Menu **/

#mobnav - btn {
    display: none;
    font - size: 20px;
    font - weight: bold;
    background - color: blue;
    color: white;
    padding: 10px;
    cursor: pointer;
}
.mobnav - subarrow {
    display: none;
}
@media only screen and (max - width: 480px) {
    #mobnav - btn {
        display: block;
    }
    .mobnav - subarrow {
        display: block;
        background - color: #0f3975;
        opacity: .3;
        border - bottom: 1px solid white;
        border - top: 1px solid black;
        height: 20px;
        width: 30px;
        background - position: top left!important;
        position: absolute;
        top: 8px;
        right: 10px;
        - webkit - border - radius: 5px;
        border - radius: 5px;
        cursor: pointer;
        - webkit - border - radius: 5px;
        border - radius: 5px;
        cursor: pointer;
        - webkit - transition: all .1s ease - in - out;
        - moz - transition: all .1s ease - in - out;
        - ms - transition: all .1s ease - in - out;
        - o - transition: all .1s ease - in - out;
        transition: all .1s ease - in - out;
    }
    .sf - menu {
        width: 100 % !important;
        display: none;
    }
    .sf - menu.xactive {
        display: block!important;
    }
    .sf - menu li {
        float: none!important;
        display: block!important;
        width: 100 % !important;
    }
    .sf - menu li a {
        float: none!important;
    }
    .sf - menu ul {
        position: static!important;
        display: none!important;
    }
    .xpopdrop ul {
        display: block!important;
    }
}

/*mahmud*/
/*navigation menu*/
ul.sf-menu li a:hover {
    background: #fff;
    color:#003A6A;
    text-shadow: none;
}
ul.sf-menu li ul li:first-child {
    border-top: 4px solid #FDCD0B;
}
ul.sf-menu li ul li a {
    background: #003A6A;
}

ul li {list-style-type: none;}
.clear {
    clear: both;
}
img {
    max-width: 100% !important;
}
h2.blue {
    background: #003A6A;
    border-bottom: 4px solid #7BB602;
    padding: 10px 15px;
    color: #fff;
    font-size: 24px;
}
h2.marginTop0 {
    margin-top: 0;
}
.marginTop30 {
    margin-top: 30px;
}
.margin15 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.bxShadow {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
.container {
    width: 92%;
    max-width: 1160px;
}
/*----------------------------------------------------------*/
/*----------------#First Row First Column-------------------*/
/*----------------------------------------------------------*/

.sliderSection {
    height: auto;
    width: 100%;
}
.topSlider {
    width: 100%;
}
.topSlider img {
    width: 100%;
    height: auto;
}
.schoolCorner h2{
    margin-top: 28px;
    margin-bottom: 28px;
}
.columnOne, .columnTwo, .columnThree {
    float: left;
    width: 33.33%;
    height: auto;
    text-align: center;
    min-height: 150px;
    line-height: 150px;
    background: url("../images/placeholder.jpg") no-repeat;
    background-size: cover;
}
@media only screen and (max-width: 768px) {
    .columnOne, .columnTwo, .columnThree {
        float: none;
        width: 100%;
    }
}

/*----------------------------------------------------------*/
/*----------------#First Row Second Column-------------------*/
/*----------------------------------------------------------*/
.schoolSection {
    height: auto;
    border: 1px solid #fff;
}
/* .map, .schooHeader, .schoolInfo {
    margin: 10px;
} */
.schooHeader {
    margin: 15px 0;
}
.map iframe {
    border: 1px solid #ddd !important;
    border-radius: 4px;
    width: 100%;
}
@media only screen and (min-width: 992px) {
    .map iframe {
        height: 130px;
    } 
}
.schoolLogo{
    float: left;
    width: 30%;
    height: auto;
}
.schoolLogo img {
    width: 100%;
    height: auto;
    display: block;
}
.schoolName {
    float: left;
    text-align: center;
    width: 70%;
}
.schoolName h2 {
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 15px;
}
.schoolName span {
    color: #727272;
    margin-left: 15px;
}
.schoolInfo p {
    color: #727272;
    margin-left: 15px;
}
.schoolInfo ul {
    margin-left: -25px;

}


/*----------------------------------------------------------*/
/*----------------#Secon  Row First Column-------------------*/
/*----------------------------------------------------------*/
/*Headmaster Quotation*/
.headmasterQuote {
    width: 100%;
    height: auto;
}
.headmasterQuote p img {
    border: 1px solid #ddd;
    float: right;
    height: auto;
    margin-bottom: 0;
    margin-left: 5px;
    margin-top: 1%;
    overflow: hidden;
    padding: 5px;
    width: 30%;
}
@media only screen and (max-width: 420px) {
    .headmasterQuote p img {
        border: 1px solid #ddd;
        float: right;
        height: auto;
        margin-bottom: 0;
        margin-left: 5px;
        margin: 2% 0;
        padding: 1%;
        width: 99%;
    }
}

.impLinksWrap {
    margin-top: 28px;
}
.impLinksWrap .firstColumn {
    width: 47% ;
    height: auto ;
    float: left ;
    margin-right: 3% ;
    background: #E0E0E0 ;
    line-height: 2em ;
    text-align: left ;
    display: table;
}

.impLinksWrap .secondColumn {
    width: 47%;
    height: auto;
    float: left;
    margin-left: 3%;
    background: #E0E0E0;
    line-height: 2em;
    text-align: left;
    display: table;
}
@media only screen and (max-width: 768px) {
    .firstColumn, .secondColumn {
        float: none !important;
        width: 100% !important;
        margin: 0 !important;
    }
}
.impLinksWrap h4 {
    font-weight: normal;
    font-size: 18px;
    color: #fff;
    padding: 10px 15px;
    margin-top: 0;
}
.impLinksWrap  ul li a {
    font-size: 14px;
    color: #727272 !important;
    padding-left: 10px;
}
.glyphicon {
    font-size: 10px;
}

/*----------------------------------------------------------*/
/*----------------#Secon  Row Second Column-------------------*/
/*----------------------------------------------------------*/
button.admission {
    border: 2px solid #ddd;
    width: 100%;
    padding: 18px 0;
    margin: 19px 0 5px;
    
    color: red;
    font-size: 25px;
    background: url("../images/admissionbg.png") no-repeat;
    background-position: 5% 62%;
    transition: .5s ease;
    border-radius: 5px;
    text-align: left;
    text-indent: 125px;
}
button.admission:hover {
    background: red url("../images/admissionbghover.png") no-repeat;
    color: #fff;
    background-position: 5% 62%;
    border: 2px solid red;
}
button.formDownload {
    border: 2px solid #ddd;
    width: 100%;
    padding: 18px 0;
    margin: 17px 0 5px;
    margin-bottom: 0 !important;
    color: #003A6A;
    font-size: 25px;
    background: url("../images/onlineform.png") no-repeat;
    background-position: 5% 62%; 
    transition: .5s ease;   
    border-radius: 5px; 
    text-align: left;
    text-indent: 125px;    
}
button.formDownload:hover {
    background: #003A6A url("../images/onlineformhover.png") no-repeat;
    color: #fff;
    background-position: 5% 62%;
    border: 2px solid #003A6A;
}

button.managingCommettee {
    border: 2px solid #ddd;
    width: 100%;
    padding: 18px 0;
    margin: 17px 0 5px;
    color: #7AB700;
    font-size: 25px;
    background: url("../images/committee.png") no-repeat;
    background-position: 5% 62%;   
    transition: .5s ease;
    border-radius: 5px;
    text-align: left;
    text-indent: 125px;    
}
button.managingCommettee:hover {
    background: #7AB700 url("../images/committeehover.png") no-repeat;
    color: #fff;
    background-position: 5% 62%;
    border: 2px solid #7AB700;
}
@media only screen and (max-width: 420px) {
    button.admission, button.managingCommettee, button.formDownload {
        font-size: 22px;
        text-indent: 92px;
    }
}
/*TABS CSS*/
.tabs {
    width:100%;
    display:inline-block;


}
 
/*----- Tab Links -----*/
.customTab {
    margin-top: 32px;
}
.customTab ul li {
    background: #EDE9DE;
    border-bottom: 1px solid #d0ceb7;
}
.customTab ul li:last-child {
    border: none;
}
ul.nav-tabs li {
    width: 33.3%;
}
.nav-tabs {
    border: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus  {
    background: #CDCBCC;
    text-align: center;
    width: 100%;
}
.nav-tabs > li > a {
    text-align: center;

}

.tab-content ul {
    margin-left: 0;
    padding-left: 25px;
    background: #EDE9DE;
}
.tab-content ul li {
    list-style-type: inherit;
    margin-left: 3px;
        line-height:2.5em;
}
.tab-content a {
    color: #727272;
    font-size: 14px;
}


/*-----#PI CHART#-------*/
div#Chart2 {
    width: 50%;
    height: auto;
    background: #E0E0E0 !important;
}
div#Chart2  iframe {
    width: 100%;
    height: calc();
    background: #e0e0e0e;
}
.phGallery {
    display: table;
    height: auto;
    padding: 2%;
    width: 100%;
}
.phGallery ul {
    display: table;
    margin: 0;
    padding: 0;
}
.phGallery ul li {
    float: left;
    height: 40px;
    margin: 3%;
    overflow: hidden;
    width: 19%;
}
.phGallery ul li img {
  float: left;
  height: auto;
  width: 100%;
  border: 1px solid #fff;
}
.colOne {
    width: 30%;
    float: left;
    display: table;
}
.copyright {
    width: 100%;
    height: 35px;
    display: table;
    background: #003A6A;
    color: #fff;
    border-top: 2px solid #7AB700;
    line-height: 32px;
    text-align: center;

}
/*bxslider pager*/
/* .bx-wrapper .bx-pager {
    text-align: right !important;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    bottom: 0 !important;
    width: 35px !important;
    right: 0 !important;
    background: #003A6A;
} */




/*----- mahade -----*/

.footer {
  background: rgb(224, 224, 224) none repeat scroll 0 0;
  height: auto;
}
.footer_left{
    width:60%;
    float:left;
}
.footer_right {
  float: right;
  width: 40%;
}
.footer_right ul {
  float: left;
  padding: 0;
  margin: 0;

}

@media only screen and (min-width: 769px) and (max-width: 991px) {
    .schoolCorner {margin-bottom: 36px; display: table;width: 100%;}
    button.admission {margin-top: 36px !important;}
}
@media only screen and (max-width: 768px) {
    .schoolCorner {margin-bottom: 0; display: table;width: 100%;}
    .columnOne, .columnTwo, .columnThree {
        float: none;
        width: 100%;
        margin-bottom: 36px;
    }
    .impLinksWrap .firstColumn, .impLinksWrap .secondColumn {
        margin-bottom: 36px !important;
    }
    button.admission {margin-top: 0 !important;}
}

/*--mahade--*/

.impLinksWrapinn .secondColumn1{
    width: 100%;
    height: auto;
    float: left;
    margin-left: 3%;
	border: 1px solid #fff;
    line-height: 2em;
    text-align: left;
    display: table;
}

.impLinksWrapinn .firstColumn {
    width: 47% ;
    height: auto ;
    float: left ;
    margin-right: 3% ;
    background: #E0E0E0 ;
    line-height: 2em ;
    text-align: left ;
    display: table;
}
.impLinksWrapinn {
    margin-top: 0px;
}
.impLinksWrapinn h4 {
    font-weight: normal;
    font-size: 18px;
    color: #fff;
    padding: 10px 15px;
    margin-top: 0;
}
.impLinksWrapinn  ul li a {
    font-size: 14px;
    color: #727272 !important;
    padding-left: 10px;
}
.leftinner_content {
    float: left;
	text-align: justify;
	width: 100%;
}
.leftinner_content h3 {margin-top: 0;}

/*left menu*/
.leftMenu h4 {
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    margin-top: 0;
    padding: 10px 15px;
}
.leftMenu .firstColumn {
    width: 100%;
    background: #e0e0e0 none repeat scroll 0 0;
    display: table;
    height: auto;
    line-height: 2em;
    text-align: left;
}
.leftMenu .secondColumn {
    width: 100%;
    background: #e0e0e0 none repeat scroll 0 0;
    display: table;
    height: auto;
    line-height: 2em;
    text-align: left;
}
.marginBottom {margin-bottom: 15px;}
/* Altab */
.control-group{width:50%; float:left;}
.control-anothergroup{width:50%; float:left;}
.control-label {
    float: left;
    padding-top: 5px;
    width: 100%;;
}
textarea, input[type="text"], input[type="password"], input[type="file"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
.input-xlarge {
    width: 95%;
}
select, textarea, input[type="text"], input[type="file"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    color: #555;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 4px 6px;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}
.alert {
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
}
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}
.headmasterQuote p{text-align: justify;}
.headmaster{}
.headmaster  img{ float: left;
    padding: 0 15px 10px 0;}
.control-contact {
    float: left;
    width: 100%;
}
.googlemap{float: left;
    width: 100%;
	margin-top: 50px;}
	table.table {
    clear: both;
    margin-bottom: 6px !important;
    max-width: none !important;
}
.table-bordered {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-collapse: separate;
    border-color: #ddd #ddd #ddd -moz-use-text-color;
    border-image: none;
    border-radius: 4px;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px 0;
}
.table {
    margin-bottom: 20px;
    width: 100%;
}
table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
}
.table-bordered th, .table-bordered td {
    border-left: 1px solid #ddd;
}
.table th, .table td {
    border-top: 1px solid #ddd;
    line-height: 20px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}